<h2>User info</h2>
  <h5>Name</h5>
  <%= f.text_field :name %>
  <h5>Image</h5>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>

  <h5>Introduction</h5>
  <%= f.text_area :introduction %><br>
  <%= f.submit 'Update User' %>
<% end %>